@charset "UTF-8";

html, ul, li {
	padding: 0;
	margin : 0;
	list-style: none;
}

.con {
	width: 1200px;
}

.table-list>table {
	width: 100%;
	border-collapse: collapse;
}

.table-list>table td, .table-list>table th {
	padding: 10px;
	border: 1px solid black;
}

.con {
	margin-left: auto;
	margin-right: auto;
}